/* styles.css */

@font-face {
    font-family: 'Noto Sans JP';
    src: url('./fonts/NotoSansJP-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }


/* 請求書全体のスタイル */
.invoice {
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    max-width: 800px; /* 横幅を狭くする */
    margin-left: auto;
    margin-right: auto;
}

.invoice-header {
    text-align: center;
    font-size: 1.3em; /* フォントサイズを少し小さくする */
    margin-bottom: 20px;
}

.invoice-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.invoice-section h3 {
    margin-bottom: 5px;
}

.invoice-section p {
    margin: 0;
}

.invoice-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.invoice-table th, .invoice-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left; /* 左詰めに変更 */
}

.invoice-table th {
    background-color: #e0f7fa;  /* 薄い青 */
    text-align: left;
}


.invoice-summary {
    text-align: right;
    margin-top: 20px;
    font-size: 1.2em;
}

.invoice-summary p {
    margin: 0;
}
/* 項目名のセルを左詰めにする */
.invoice-table .item-name {
    text-align: left;
}

/* 金額のセルを右詰めにする */
.invoice-table .item-amount {
    text-align: right;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
}

